{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Hello {{ auteur }}! ✅</h1>
    <h2>{{ article.title }}</h2>
    <p> {{ article.intro }}</p>
    <p> {{ article.content }}</p>
    <p>{{ article.urgent }}</p>
    {% if condition > 18 %}
    <p>je suis majeur</p>
    {% else %}
        <p>je suis mineur</p>
    {% endif %}
    {% for item in tab %}
        <p>{{item}}</p>
    {% endfor %}

{% endblock %} 